<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
            .footer{
                position: relative;
                background-color: black;
                color: white;
                margin-left: 200px;
                padding: 5px;
                margin-top: 5px;
                bottom: 0;
                left: 0;
                width: 100%;
            }
    </style>
</head>
<body>
    <div class="footer">
        <a href="/disclaimer">Disclaimer</a>
    </div>

    <script src="/public/script.js"></script>
</body>
</html>